.orders-container {
  padding: 25px;
}

.order-card {
  background: #1f2937;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-id {
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.order-status {
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 13px;
}

.pending {
  background: #f59e0b;
}

.completed {
  background: #10b981;
}

.cancelled {
  background: #ef4444;
}

.order-user,
.order-address {
  color: #d1d5db;
  margin-top: 12px;
}

.order-actions {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.order-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.track-btn {
  background: #2563eb;
  color: white;
}

.details-btn {
  background: #374151;
  color: white;
}